.foodCard-container{
    display: flex;
    flex-direction: column;
}

.top-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;
    margin-left: 4em;
}

.bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.payment-container{
    display: flex;
    justify-content: center;

}

.food-search{
    width: 200px;
    border-radius: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    text-indent: 5px;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 4em;
}

.img-button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    margin-right: 4em;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 290px;
    background-color: hsl(230, 20%, 15%);
    padding: 10px;
    border-radius: 18px;
}

.info{
    margin: 0.5em;
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    text-indent: 5px;
}

.info-button{
    width: 100px;
    height: 40px;
    margin: 0.5em;
    font-size: 1rem;
    font-weight: bold;
    color: aliceblue;
    background-color: hsl(337, 29%, 49%);
    border: none;
    border-radius: 10px;
}

.info-button:hover{
    cursor: pointer;
    background-color: hsl(337, 29%, 54%);
}

.info-head{
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5rem;
}
